/* src/pages/Feedback/Feedback.module.css */

.container {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.tags {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
}

.uploadBox {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fileInput {
    display: none; /* 기본 파일 input 숨기기 */
}

.customFileBtn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.customFileBtn:hover {
    background-color: #0056b3;
}

.fileName {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.submitBtn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.submitBtn:hover {
    background-color: #0056b3;
}

.submissionSuccess {
    margin-top: 20px;
    color: green;
    font-weight: bold;
}
