html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    font-family: system-ui, sans-serif;
    overflow-x: hidden;
}

.bottom-tabbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 12px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
    z-index: 1000;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.05);
}